/*
#1 = 35A49C
#2 = 79CDC0
*/
a {
	color: #558B2F;
}
a:hover {
	color: #8BC34A;
}

/* menu */
.nav>li>a:hover {
	color: #8BC34A;
}

.navbar .navbar-nav > .active > a {
	color: #8BC34A;
}

/* flexslider */
.flex-control-paging li a {
	background: #558B2F;
}

.flex-direction-nav a:hover{
	background-color:#558B2F;
}

.testimonial span.author a {
	color: #8BC34A;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #558B2F;
	box-shadow: 0 0 0 4px #558B2F;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #558B2F;
	box-shadow: 0 0 0 8px  #79CDC0;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #558B2F;
}

/* btn */
.btn-theme {
  background: #8BC34A;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #558B2F;
}
.btn-cta,.btn-cta.btn-lg {
  background: #558B2F;
  border-color: #8BC34A;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #558B2F;
}

/* contact */
.validation {
	color: red;
}

/* footer */
.social-circle li a {
	background:#558B2F;
}

a.scrollup{
	background:#558B2F;
}

#sendmessage {
    color: green;
}

#errormessage {
    color: red;
}
